*{
	margin:0;
	padding:0;
	font-family: "Poppins", sans-serif;
  	font-weight: 600;
  	font-style: normal;
}
body{
	height: 100vh;
	width: 100%;
	min-height: 640px;
	min-width: 360px;
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
}
header{
	width: 100%;
	height: 12%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	background-color: #FFEA9F;
	border-radius: 0 0 25px 25px;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
header img{
	width: 60px;
	height: 60px;
	margin-left: 30px;
}
.burger img{
	width: 20px;
	height: 20px;
	margin: 10px 30px 0 0;
}
.menu_hamburguesa{
	display: block;
	min-width: 120px;
	min-height: 260px;
	width: 30%;
	height: 40%;
	position: fixed;
	top: 0;
	right: -200px;
	background-color: #FFEA9F;
	border-radius: 0 0 0 20px;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
	transition: right 0.5s;
}
.menu_hamburguesa button{
	font-size: 20px;
	margin: 10px 0 0 70%;
	color: #FFEA9F;
	padding: 0 10px;
	background-color: rgba(255, 88, 208, 0.7);
	border-radius: 20%;
}
.menu_hamburguesa ul,section,.perfiles{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.menu_hamburguesa li{
	list-style: none;
	margin-top: 30px;
	color: #FF58D0;
}
.menu_hamburguesa a{
	text-decoration: none;
}
nav{
	display: none;
}
button{
	-webkit- appearance: none;
	appearance: none;
	background-color: rgba(0, 0, 0, 0.0);
	border: none;
	cursor: pointer;
}
section,section p{
	margin: 20px;
	text-align: justify;
	color: #FF58D0;
	font-size: 14px;
}
h1{
	color: #FF58D0;

}
section p{
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 20px;
}
section a{
	margin: 10px 0 0;
	padding: 10px 20px;
	background-color: #FFEA9F;
	color: #FF58D0;
	border-radius: 10px 10px 0 0;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
section a img{
	width: 20px;
	height: 20px;
}
section img{
	width: 300px;
	height: 200px;
}
.numeros{
	display: block;
}
.numeros ol{
	list-style: none;
	display: flex;
	align-items: center;
	margin: 20px 0;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
li button{
	padding: 5px 10px;
	color: #FF58D0;
	background-color: #FFEA9F;
}
.primero{
	border-radius: 5px 0 0 5px;
}
.ultimo{
	border-radius: 0 5px 5px 0;
}
.paneles{
	margin: 0;
}
.panel{
	display: none;
}
.visible{
	display: block;
	margin-top: 0;
}
.activo{
	text-decoration: underline;
}

@media screen and (min-width: 500px){
	header{
		justify-content: space-between;
	}
	header img{
		margin-left: 50px;
	}
	.burger,.menu_hamburguesa{
		display: none;
	}
	nav{
		display: block;
	}
	ul{
		margin-right: 50px;
		display: flex;
		align-items: center;
	}
	a li{
		list-style: none;
		margin-left: 40px;
		color: #FF58D0;
	}
	nav a{
		text-decoration: none;
	}
	section img{
		width: 400px;
		height: 250px;
	}
	li button{
		margin-left: 0;
	}
	section p{
		max-width: 650px;
	}

	@media screen and (min-width: 900px){
	ul{
		font-size: 16px;
	}
	a li{
		margin-left: 100px;
	}
	h1{
		font-size: 36px;
	}
	section{
		margin: 100px 0;
	}
	section img{
		width: 700px;
		height: 450px;
	}
	section p,section a,li button{
		font-size: 16px;
	}
}