/*---------------------------------------------*\
* home.css
* 	- Global
* 	- Encabezado
* 	- Sección Principal
* 	- Post
* 	- Pantallas
*----------------------------------------------*/
*{
	/*--- Tamaño de la pantalla ---*/
	margin:0; /* Elimina los margenes implementados en cada navegador */
	padding:0;
	/*--- Tipografía ---*/
	font-family: "Poppins", sans-serif; /* Tipografía de la página */
	/*--- Tamaño y Estilo de Tipografía ---*/
  	font-weight: 600; /* Tamaño de la Tipografía */
  	font-style: normal; /* Estilo de Tipografía */
}
body{
	/*--- Tamaño del cuerpo de la web ---*/
	height: 100vh; /* Altura del cuerpo */
	width: 100%; /* Ancho del cuerpo */
	min-height: 640px; /* Mínimo de Altura del cuerpo */
	min-width: 360px; /* Mínimo de Ancho del cuerpo */
	/*--- Fondo del cuerpo de la web ---*/
	background-image: url("../img/background.png"); /* Imagen de Fondo */
	background-repeat: no-repeat; /* Estilo del Fondo */
	background-attachment: fixed; /* Posición del Fondo */
}
button{
	/*--- Estilo de los botones de la web ---*/
	-webkit- appearance: none; /* Elimina la apariencia predeterminada de los botones */
	appearance: none;
	background-color: rgba(0, 0, 0, 0.0); /* Elimina el fondo predeterminado de los botones */
	border: none; /* Elimina el borde predeterminado de los botones */
	cursor: pointer; /* El cursor cambia de apariencia para que se visualice la posibilidad de interactuar con el botón */
}

/*--- Encabezado ---*/
/* Descripción: Estilo de la barra superior o Encabezado de la web
* Estructura:
* 	- Estilo del Encabezado
* 	- Logo
* 	- Menú Hamburguesa
* 	- Menú de Navegación
*----------------------------------------------*/

/*--- Estilo del Encabezado ---*/
header{
	width: 100%;
	height: 12%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	background-color: #FFEA9F;
	border-radius: 0 0 25px 25px;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
/*--- Logo ---*/
header img{
	width: 60px;
	height: 60px;
	margin-left: 30px;
}
/*--- Icono del Menú Hamburguesa ---*/
.burger img{
	width: 20px;
	height: 20px;
	margin: 10px 30px 0 0;
}
/*--- Modal del Menú Hamburguesa ---*/
.menu_hamburguesa{
	display: block;
	min-width: 120px;
	min-height: 260px;
	width: 30%;
	height: 40%;
	position: fixed;
	top: 0;
	right: -200px;
	background-color: #FFEA9F;
	border-radius: 0 0 0 20px;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
	transition: right 0.5s;
}
/*--- Botón de Cerrar del Menú Hamburguesa ---*/
.menu_hamburguesa button{
	font-size: 20px;
	margin: 10px 0 0 70%;
	color: #FFEA9F;
	padding: 0 10px;
	background-color: rgba(255, 88, 208, 0.7);
	border-radius: 20%;
}
/*--- Apartados del Menú Hamburguesa ---*/
.menu_hamburguesa li{
	list-style: none;
	margin-top: 30px;
	color: #FF58D0;
}
/*--- Enlaces del Menú Hamburguesa ---*/
.menu_hamburguesa a{
	text-decoration: none;
}
/*--- Menú de Navegación ---*/
nav{
	display: none;
}
/*--- Encabezado ---*/


/*--- Sección Principal ---*/
/* Descripción: Estilo de la Sección Principal de la web
* Estructura:
* 	- Estilo de la Sección
* 	- Título
* 	- Texto
* 	- Lista
*----------------------------------------------*/

/*--- Elementos que comparten la misma estructura ---*/
/* 	- Lista del Menú Hamburguesa
* 	- Sección
*----------------------------------------------*/
.menu_hamburguesa ul,section,.post{
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*--- Estilo de la Sección ---*/
section{
	margin: 50px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 20px;
}
/*--- Título ---*/
h1{
	color: rgb(30, 30, 30);
	text-decoration: underline;
}
/*--- Texto ---*/
p{
	margin: 20px 0;
	font-size: 14px;
	text-align: justify;
	color: rgb(30, 30, 30);
}
/*--- Lista ---*/
section ul{
	padding: 0 20px;
	margin-bottom: 50px;
}
/*--- Apartados de la Lista ---*/
section li{
	font-size: 14px;
	color: rgb(30, 30, 30);
}
/*--- Elementos que comparten la misma estructura ---*/
/* 	- Iconos de la Lista
* 	- Icono del post
*----------------------------------------------*/
li img,.titulo_e_icono img{
	height: 30px;
	width: 30px;
}
/*--- Sección Principal ---*/


/*--- Post ---*/
/* Descripción: Estilo del Post de la web
* Estructura:
* 	- Estilo del Post
* 	- Conjunto del Título e Icono
* 	- Texto
*----------------------------------------------*/

/*--- Estilo del Post ---*/
.post{
	margin: 20px 0;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
/*--- Conjunto del Título e Icono ---*/
.titulo_e_icono{
	display: flex;
	justify-content: space-between;
}
/*--- Título ---*/
.titulo_e_icono h1{
	padding: 0 10px;
	font-size: 16px;
	text-decoration: none;
}
/*--- Icono ---*/
.titulo_e_icono img{
	padding: 10px 5px;
}
/*--- Último Post ---*/
.post:last-child{
	margin-bottom: 50px;
}
/*--- Post ---*/


/*--- Pantallas ---*/
/* Descripción: Estilo de la web dependiendo del tamaño de las Pantallas
* Estructura:
* 	- Versión Tablet
* 	- Versión PC
*----------------------------------------------*/

/*--- Versión Tablet ---*/
/* Descripción: Estilo de la web en versión Tablet
* Estructura:
* 	- Encabezado
* 	- Sección
*----------------------------------------------*/
@media screen and (min-width: 500px){
	/*--- Encabezado ---*/
	/* Descripción: Estilo de la barra superior o Encabezado de la web en Versión Tablet
	* Estructura:
	* 	- Estilo del Encabezado
	* 	- Logo
	* 	- Menú Hamburguesa
	* 	- Menú de Navegación
	*----------------------------------------------*/

	/*--- Estilo del Encabezado ---*/
	header{
		justify-content: space-between;
	}
	/*--- Logo ---*/
	header img{
		margin-left: 50px;
	}
	/*--- Elementos que comparten la misma estructura ---*/
	/* 	- Menú Hamburguesa
	* 	- Botón de Cerrar del Menú Hamburguesa
	*----------------------------------------------*/
	.burger,.menu_hamburguesa{
		display: none;
	}
	/*--- Menú de Navegación ---*/
	nav{
		display: block;
	}
	/*--- Lista del Menú de Navegación ---*/
	ul{
		margin-right: 50px;
		display: flex;
		align-items: center;
	}
	/*--- Enlaces del Menú de Navegación ---*/
	a li{
		list-style: none;
		margin-left: 40px;
		color: #FF58D0;
	}
	/*--- Estilo de los Enlaces del Menú de Navegación ---*/
	nav a{
		text-decoration: none;
	}
	/*--- Encabezado ---*/


	/*--- Sección Principal y Post---*/
	/* Descripción: Estilo de la Sección Principal de la web y el Slider en Versión Tablet
	* Estructura:
	* 	- Lista
	*	- Texto
	*	- Post
	*----------------------------------------------*/
	
	/*--- Lista ---*/
	section ul{
		flex-direction: column;
		align-items: flex-start;
	}
	/*--- Elementos que comparten la misma estructura ---*/
	/* 	- Texto
	* 	- Post
	*----------------------------------------------*/
	p,.post{
		max-width: 620px;
	}
	/*--- Texto del Post ---*/
	.post p{
		padding: 0 30px;
	}
	/*--- Sección Principal y Post---*/
}
/*--- Versión Tablet ---*/


/*--- Versión PC ---*/
/* Descripción: Estilo de la web en versión PC
* Estructura:
* 	- Encabezado
* 	- Sección Principal
*----------------------------------------------*/
@media screen and (min-width: 900px){
	/*--- Encabezado ---*/
	/* Descripción: Estilo de la barra superior o Encabezado de la web en Versión PC
	* Estructura:
	* 	- Menú de Navegación
	*----------------------------------------------*/

	/*--- Elementos que comparten la misma estructura ---*/
	/* 	- Lista del Menú de Navegación
	* 	- Texto
	*----------------------------------------------*/
	ul,p{
		font-size: 16px;
	}
	/*--- Enlaces de la Lista del Menú de Navegación ---*/
	a li{
		margin-left: 100px;
	}
	/*--- Encabezado ---*/


	/*--- Sección Principal y Post ---*/
	/* Descripción: Estilo de la Sección Principal de la web y el Slider en Versión PC
	* Estructura:
	* 	- Título
	*	- Título del Post
	*----------------------------------------------*/
	
	/*--- Título ---*/
	h1{
		font-size: 2.5em;
	}
	/*--- Título del Post ---*/
	.titulo_e_icono h1{
		font-size: 20px;
	}
	/*--- Sección Principal y Post ---*/
}
/*--- Versión PC ---*/

/*--- Pantallas ---*/